.header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.header .info ul {
  margin: 5px 0;
  margin-left: 59px;
  display: flex;
}
.header .info ul li {
  display: flex;
  margin-left: 40px;
  list-style: none;
}
.header .info ul li .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .info ul li .icon i {
  font-size: 20px;
}
.header .info ul li .text {
  padding-left: 15px;
}
.header .info ul li .text h5 {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 5px;
}
.header .info ul li .text h6 {
  color: #999;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.nav {
  background: #152545;
}
.nav .menu .navbar ul {
  display: flex;
}
.nav .menu .navbar ul li:first-child {
  border-left: 1px solid #1f3155;
}
.nav .menu .navbar ul li {
  list-style: none;
  border-right: 1px solid #1f3155;
}
.nav .menu .navbar ul li a {
  color: #fff;
  padding: 0 20px 28px 20px;
  line-height: 30px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}
